

/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

background: rgba(125,125,212,1);
background: -moz-linear-gradient(top, rgba(125,125,212,1) 0%, rgba(167,205,217,1) 50%, rgba(113,138,237,1) 96%, rgba(183,222,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,125,212,1)), color-stop(50%, rgba(167,205,217,1)), color-stop(96%, rgba(113,138,237,1)), color-stop(100%, rgba(183,222,237,1)));
background: -webkit-linear-gradient(top, rgba(125,125,212,1) 0%, rgba(167,205,217,1) 50%, rgba(113,138,237,1) 96%, rgba(183,222,237,1) 100%);
background: -o-linear-gradient(top, rgba(125,125,212,1) 0%, rgba(167,205,217,1) 50%, rgba(113,138,237,1) 96%, rgba(183,222,237,1) 100%);
background: -ms-linear-gradient(top, rgba(125,125,212,1) 0%, rgba(167,205,217,1) 50%, rgba(113,138,237,1) 96%, rgba(183,222,237,1) 100%);
background: linear-gradient(to bottom, rgba(125,125,212,1) 0%, rgba(167,205,217,1) 50%, rgba(113,138,237,1) 96%, rgba(183,222,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7dd4', endColorstr='#b7deed', GradientType=0 );
}


b, strong { font-weight: bold }
i, em { font-style: italic }

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}



.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.2;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }



#title {
    padding: 0;
}

#title .try {
    font-size: 64px;
    position: absolute;
    top: -1em;
    left: 1.5em;

    -webkit-transform: translateZ(20px);
    -moz-transform:    translateZ(20px);
    -ms-transform:     translateZ(20px);
    -o-transform:      translateZ(20px);
    transform:         translateZ(20px);
}

#title h1 {
    font-size: 120px;
    position: relative;
    top: 1.5em;
    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

#title .footnote {
    font-size: 32px;
    position: absolute;
    left: 15em;
    top: 11em;
}

/* circular image */

#title .circular {
    width: 500px;
    height: 500px;
    border-radius: 150px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    background: url('JDUB.jpg') repeat;
    background-position: -40px -40px;
    position: absolute;
    left: 3.5em;
    bottom: -0.8em;
    }


/* second slide */

#its .goblue {
    width: 300px;
    height: 300px;
    background: url('michigan_new.png') no-repeat;
    position: absolute;
    left: 16em;
    bottom: 5.2em;
}



#overview { display: none }

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}



/*trying to make it work for mobile...*/

@media only handheld and (max-width: 480px) {
    body {
    font-family: 'PT Sans', sans-serif;
    background: blue !important;
}

    #title {
        padding: 0;
    }

    #title .try {
        font-size: 64px;
        position: absolute;
        top: 1em;
        left: 1.5em;

    }

    #title h1 {
        font-size: 120px;
        position: relative;
        top: 1.5em;

    }

    #title .footnote {
        display: none;
    }

    /* circular image */

    #title .circular {
        width: 500px;
        height: 500px;
        border-radius: 150px;
        -webkit-border-radius: 300px;
        -moz-border-radius: 300px;
        background: url('jjw.jpg') no-repeat;
        position: absolute;
        left: 3.5em;
        bottom: -0.6em;
        }


    #its {
        position: absolute;
        top: 10em;
    }

        #its .goblue {
        width: 300px;
        height: 300px;
        background: url('michigan_new.png') no-repeat;
        position: absolute;
        left: 16em;
        bottom: 5.2em;
    }



}


